<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuAn_CatToc"
        tools:targetApi="31">

<!--        <activity-->
<!--            android:name=".TopNhanVien"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".adapter.LoaiDichVuSpinnerAdapter"
            android:exported="false" />
        <activity
            android:name=".fragment_ThemNhanVien"
            android:exported="false" />
        <activity
            android:name=".fragment_DangXuat"
            android:exported="false" />
        <activity
            android:name=".fragment_DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".fragment_LienHe"
            android:exported="false" />
        <activity
            android:name=".fragment_LoaiDichVu"
            android:exported="false" />
        <activity
            android:name=".fragment_DoanhThu"
            android:exported="false" />
        <activity
            android:name=".fragment_QuanLyKhachHang"
            android:exported="false" />
        <activity
            android:name=".fragment_QuanLyDichVu"
            android:exported="false" />
        <activity
            android:name=".fragment_QuanLyHoaDon"
            android:exported="false" />
        <activity
            android:name=".DangNhap"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".manhinhcho"
            android:exported="true"
            android:theme="@style/Theme.DuAn_CatToc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>